html{
  scroll-behavior: smooth;
}
body {
	margin: 0;
	background: white;
	font-family: 'Work Sans', sans-serif;
	font-weight: 800;
}
.up{
  position: fixed;
  width: 60px;
  height: 30px;
  background-color: grey;
  bottom: 40px;
  right: 50px;
  border-radius: 40%;
  color: black;

  text-decoration: none;
  text-align: center;
   line-height:  30px;
   font-size: 22px;
}
.up:hover{
  background-color: black;
  border-radius: 0%;
  border-image: linear-gradient(to right,  white black)5 5 5 5;
  color: white;
  border-radius: 40%;

}
.container1 {
	width: 80%;
	margin: 0 auto;
}

header {
  background: rgba(0, 6, 22, 0.5);
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: left;
  padding: 10px 0;
}
.front{
  width: 120px;
  height: 120px;
  margin-left: -5%;
  padding-block: 0.5%;
}

nav {
  float: right;
  height: 80px;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 50px;
  position: relative;
}

nav a {
  color: #070707;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
}

nav a:hover {
  color: white;
}

.splide__slide img {
  width: 50%;
  height: auto;
}
p{
    text-align: center;
    font-size: 30px;
}
hr{
    height: 10px;
    width: 99%;
    background-color: black;
    margin-top: 2%;
}
      @media (max-width: 768px) {
        .nav h2 {
          width: 95%;
        }
      }
----------------------------
* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      .container {
        width: min(1500px, 100%);
        padding: 0%;
        columns: 5 250px;
        column-gap: 2em;
      }

      .container .image-container {
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
        justify-content: center;
        padding: 5px;
        padding-left: 25px;
      }

      .container .image-container .image {
        height: 350px;
        width: 300px;
        border: 10px solid white;
        box-shadow: 0 5px 15px black;
        overflow: hidden;
        cursor: pointer;
      }

      .container .image-container .image img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        transition: 0.2s linear;
      }
      .container .image-container .image:hover img {
        transform: scale(1.1);
      }

      .container .popup-image {
        position: fixed;
        top: 0;
        left: 0;
        background: black;
        height: 100%;
        width: 100%;
        z-index: 100;
        display: none;
      }
      .container .popup-image span {
        position: absolute;
        top: 0;
        right: 10px;
        font-size: 40px;
        font-weight: bolder;
        color: white;
        cursor: pointer;
        z-index: 100;
      }

      .container .popup-image img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 5px solid white;
        border-radius: 5px;
        width: 750px;
        object-fit: cover;
      }

      @media (max-width: 768px) {
        .container .popup-image img {
          width: 95%;
        }
      }
      ----------------------
      .link{
        color: red;
      }
      .droplink {
  position: relative;
  display: inline-block;
}
.dropdown-link {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-link .link {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-link .link:hover {background-color: #f1f1f1}

.droplink:hover .dropdown-link {
  display: block;
}
.droplink:hover .link {
  background-color: grey;
  border: 2px solid black;
}
nav .link:hover {
  color: white;
}